* {
  color: #c4c4c4;
  font-family: sans-serif;
}

html {
  padding: 0px;
  margin: 10px;
  scroll-behavior: smooth;
  background-color: #181A1B;
}

p, body, code, pre, li, ul {
  font-size: 1.15rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

body {
  word-wrap: break-word;
  width: 85%;
  max-width: 950px;
  padding: 40px 40px 40px 40px;
  text-align: left;
  margin: 0 auto;
  max-width: 50em;
  padding: 0 2em 0 2em;
}

code {
  font-family: monospace;
  background: #2c2d32;
  margin-top: 15px !important;
  padding: 3px 3px;
  display: block;
  border: 5px solid #383a3f;
}

p > code, li > code {
  display: inline;
  border: none;
  border-radius: 0px;
}

img {
  display: inline;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

li, ul {
  position: relative;
  left: -11px;
}

h1 {font-size: 1.5em;}
a {text-decoration: none;}
a:active, a:link, a:visited {color: #8ab4f8;}
a:hover {color: #4286f4; text-decoration: none;}
pre {font-family: monospace;}
hr {margin: 0px 0px 0px 0px;}

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: #c4c4c4;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}
::selection {color: #c4c4c4; background: #50525b;}
