name: Build

on:
  push:
    branches: [ master ]

# NOTE: "stable" tcc is too old and fails at linking. instead fetching a recent known working commit.
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: dep
      run: |
        sudo apt-get update
        sudo apt-get install libimlib2 libimlib2-dev xserver-xorg-core xserver-xorg-dev \
                             libxft2 libxft-dev libexif12 libexif-dev \
                             gcc clang git
        TCC_SHA="027b8fb9b88fe137447fb8bb1b61079be9702472"
        wget "https://github.com/TinyCC/tinycc/archive/${TCC_SHA}.tar.gz" && tar xzf "${TCC_SHA}.tar.gz"
        ( cd "tinycc-$TCC_SHA" && ./configure && make && sudo make install; )
    - name: build
      run: |
        CFLAGS="$(sed '/^#/d' etc/woodpecker/CFLAGS | paste -d ' ' -s)"
        build () {
          for cc in "gcc" "clang" "tcc"; do
            echo "### $cc - $2 build ###"
            make clean && make -s -j"$(nproc)" CC="$cc" CFLAGS="$CFLAGS" LDFLAGS="$CFLAGS" OPT_DEP_DEFAULT="$1"
          done
        }
        # full-build #
        build "1" "full"
        # ensure minimal-build works without opt deps installed
        sudo apt-get remove libxft2 libxft-dev libexif12 libexif-dev >/dev/null
        build "0" "minimal"
  macOS-build:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: dep
        run: |
          brew update
          brew install imlib2 libx11 libxft libexif giflib webp
      - name: build
        run: |
          # libinotify-kqueue isn't available on homebrew
          make clean && make -s CC=gcc OPT_DEP_DEFAULT=1 HAVE_INOTIFY=0
          # force uninstallation with --ignore-dependencies
          brew uninstall --ignore-dependencies libxft libexif giflib webp
          make clean && make -s CC=gcc OPT_DEP_DEFAULT=0
